doctype html
html
	head
		title login
		script(type='text/javascript', src='/javascripts/jquery-1.5.1.min.js')
		
	body
		form#login(action='/LCD/Preview', method='POST')
			
			input(type='hidden', class='preview', name='preview') 
			input(type='submit', value='Submit', style="float:right; visibility:hidden")
	
		script(type='text/javascript').
			
			$(document).ready(function(){
				if(window.innerHeight < window.innerWidth)
				{
					$(".preview").val("Landscape");
				}
				else
				{
					$(".preview").val("Potrait");
				}
				$("#login").submit();
			});